.cartButton{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0, .5);
    border-radius: 20px;
    border: none;
    font-weight: 600;
    margin: 1.25rem 0;
    cursor: pointer;
    color: #fff;
    padding: .25rem;
}

.cartButton:focus{
    outline: none;
    box-shadow: 0 0 0 1px #000;
}

.cartButton:hover{
    background-color: #000;
}

.cart-icon{
    margin: 0 1.25rem;
}

.span{
    display: inline-block;
    background-color: rgb(145, 3, 3);
    height: 1.5rem;
    margin: 0 1rem;
    padding: .25rem 1.25rem;
    border-radius: 15px;
}