.bgImage{
    position: relative;
    margin-top: 7.7rem;
    height: 500px;
    background-image: url(../../imagens/buffet.png);
    background-size: cover;
    background-position: left;
    z-index: -1;
}

.container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    padding: .6rem;
    box-shadow: 1px 1px 12px 1px #000;
}

.text{
    display: none;
}

@media (min-width: 400px){
    .bgImage{
        margin-top: 4.9rem;
    }
}

@media (min-width: 510px){
    .container{
        width: 50%;
        font-size: auto;
    }

    .title{
        margin: .5rem 0 2rem 0;
    }

    .text{
        display: block;
        font-size: .9rem;
        margin: 1rem 1.5rem;
        line-height: 1.5;
    }
}